html {
	/*min-height: 960px;*/

}



body {
	width: 100%;
	height: 100%;
	font-family: Arial;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

.container {
	/*overflow-y: scroll;*/
	display: flex;
	min-height: 850px;
	min-width: 1360px;
}

.main {
	width: 21%;
	box-sizing: border-box;
	padding: 3.4% 0 0 2.4%;
	background-color: #2b2f3e;
	color: #565a69;
}

.overview {
	background-color: #ff3b50;
	color: #fff;
	margin: 24% 0 0 -13%;
	padding: 5.4% 0 5.4% 13%;
}

.title {
	color: #565a69;
	font-size: 1.6em;
	/*padding: 1% 0 1% 1%;*/
	/*padding: 0;*/
}

.main .title {
	padding: 6% 0 0 0;
}

.comments .title {
	padding-bottom: 30px;
}

.content {
	width: 77%;
	background-color: #f9f9f9;
}

.items, .comments {
	display: inline-block;
	background-color: #ffffff;
	border-width: 1px;
	border-color: #c8c8c8;
	border-style: solid;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	vertical-align: top;
	box-sizing: border-box;
}

.items {
	width: 48%;
	margin: 3.1% 0.85% 0 2.9%;
	padding: 1.5% 1% 0 2%;
}

.comments {
	width: 44%;
	margin: 3.1% 1.9% 0 0.85%;
	padding: 1.5% 1% 0 1.3%;
}

.items form {
	margin: 2% 0 4% 0;
}

.items form input {
	width: 67%;
	height: 29px;
	margin: 0;
	padding: 0;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.items form button {
	width: 27%;
	height: 31px;
	float: right;
	border-radius: 4px;
	border: 0px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	background-color: #27ccc0;
	color: #ffffff;
	font-size: 1em;
}

.items form button[disabled] {
	background-color: #d2cece;
}

.items-output {
	font-weight: bold;
}

.items-output div {
	border-bottom: 2px solid #f2f2f2;
	/*height: auto*/
	min-height: 50px;
	vertical-align: middle;
	padding: 10px 5px 10px 0;
	box-sizing: border-box;
}

.items-output div span{
	padding: 5px 0 5px 0;
	vertical-align: middle;
	display: inline-block;
}

.items-output .comQuan {
	width: 35px;
	display: inline-block;
	border-radius: 20px;
	border: 0px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	background-color: #27ccc0;
	color: #ffffff;
	margin-left: 5px;
	text-align: center;
	padding: 2px 0 2px 0;
}

.items-output button {
	float: right;
	border: 1px solid #ff3159;
	border-radius: 4px;
	color: #ff3159;
	background-color: #fff;
	height: 31px;
	width: 20%;
	font-size: 1em;
}

.items-output div:hover {
	border-left: 5px solid #ff3159;
}

.items-output .itemText {
	font-weight: bold;
	width: auto;
	max-width: 70%;
	height: auto;
}

.colorBox {
	background-color: #e6e6e6;
	height: 45px;
	width: 45px;
	display: inline-block;
	margin-top: 3px;
}

.comText {
	padding-left: 20px;
	width: 88%;
	text-align: center;
	color: #666666;
}

.odd {
	background-color: #ff8a00;
}

.even {
	background-color: #47568c;
}

.coms-output {
	border-bottom: 2px solid #f2f2f2;
	vertical-align: middle;
	padding: 10px 5px 10px 0;
	box-sizing: border-box;
	display: flex;
}

.comments form {
	margin: 2% 1.5% 4% 0;
	vertical-align: top;
	padding: 0;
}
span.colorBox{
	margin-right: 20px;
}

.comments form input {
	width: 85.5%;
	height: 60px;
	margin: 0;
	padding: 0;
	border: 1px solid #cccccc;
	float: right;
	margin-top: 3px;
}

.comments form button {
	width: 100px;
	height: 50px;
	border-radius: 4px;
	border: 0px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	background-color: #27ccc0;
	color: #ffffff;
	font-size: 1em;
	margin-top: 3px;
	text-align: center;
}
